<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Multiple Choice Creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<p th:text="${param.id}">Test</p>
<form action="#" th:action="@{/addNumberRange}" th:object="${question}" method="post">
    <p>Input Question: <input type="text" th:field="*{questions}" /></p>
    <div th:object="${numberRange}">
    <p>Input the range's Minimum: <input type="number" th:field="*{min}" /></p>
    <p>Input the range's Maximum: <input type="number" th:field="*{max}" /></p>
    </div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<p><a href="/questionType">Click here to change question type</a></p>
<p><a href="/">To return to the HomePage click here</a></p>
</body>
</html>