<!DOCTYPE HTML>
<html>
<head>
    <title>Choose Question Type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Click on one of the following links to determine the type of question you will be adding</p>
<p><a href="/addQuestion">Click here to create an open-ended question</a></p>
<p><a href="/addMultipleChoices">Click here to create a multiple-choice question</a></p>
<p><a href="/addNumberRange">Click here to create a number-range question</a></p>
<p><a href="/">To return to the HomePage click here</a></p>
</body>
</html>