<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All Available Surveys</title>
</head>
<body>
<h1>Surveys</h1>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> ID </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${Surveys.empty}">
        <td colspan="2"> No Surveys Available </td>
    </tr>
    <tr th:each="Survey : ${Surveys}">
        <td><span th:text="${Survey.name}"> Title </span></td>
        <td><span th:text="${Survey.id}"> ID </span></td>
        <td><form action="" th:action="@{/ViewAnswers(id=${Survey.id})}">
            <a th:href="@{/ViewAnswers(id=${Survey.id})}"> Select </a> <br/>
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>