<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All Available Surveys</title>
</head>
<body>
<h1>Surveys</h1>
<p>Add a question <a href="/addQuestion">here</a></p>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> ID </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${Surveys.empty}">
        <td colspan="2"> No Surveys Available </td>
    </tr>
    <tr th:each="Survey : ${Surveys}">
        <td><span th:text="${Survey.name}"> Title </span></td>
        <td><span th:text="${Survey.id}"> ID </span></td>
        <td><form action="Selecting" th:action="@{/ViewAnswers(id=${Survey.id})}">
            <a id="disabled-link" th:href="@{/ViewAnswers(id=${Survey.id})}" > Select </a> <br/>
        </form><script th:inline="javascript">
        /*<![CDATA[*/


        var message = [[${user}]];
        var name = [[${Survey.User}]];


        if(name.localeCompare(message)==0){



        }else{
            var myElement = document.getElementById("disabled-link");
            myElement.remove();
        }

        /*]]>*/
    </script></td>
    </tr>
    </tbody>
</table>
</body>
</html>